
<div class="container-fluid">
	<div class="row flex-nowrap">
		<div class="bg-black col-auto col-md-4 col-lg-3 min-vh-100 d-flex flex-column justify-content-between" style="background-color:black !important;">
			<div class="bg-black p-2" style="background-color:black !important;">
				<ul class="nav nav-pills flex-column pt-3 px-0">
					<li class="nav-item activeLi">
						<a href="#" class="nav-link text-white">
							<i class="fs-5 fa bi-clipboard-data"></i>
							<span class="fs-5 d-none d-sm-inline me-2">لوحة التحكم</span>
						</a>
					</li>
					<li class="nav-item">
						<a asp-action="index" asp-controller="AdminProduct" class="nav-link text-white">
							<i class="fs-5 fa bi-box-seam"></i>
							<span class="fs-5 d-none d-sm-inline me-2">المنتجات</span>
						</a>
					</li>
					<li class="nav-item">
						<a asp-action="index" asp-controller="Category" class="nav-link text-white">
							<i class="fs-5 fa bi-layers-fill"></i>
							<span class="fs-5 d-none d-sm-inline me-2">الفئات</span>
						</a>
					</li>
					<li class="nav-item">
						<a asp-action="index" asp-controller="ShippingCompanies" class="nav-link text-white">
							<i class="fs-5 fa bi-airplane-fill"></i>
							<span class="fs-5 d-none d-sm-inline me-2">شركات الشحن</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-white">
							<i class="fs-5 fa bi-bag-check"></i>
							<span class="fs-5 d-none d-sm-inline me-2">الطلبيات</span>
						</a>					
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-white">
							<i class="fs-5 fa bi-person-fill-gear"></i>
							<span class="fs-5 d-none d-sm-inline me-2">الادراة</span>
						</a>
					</li>
				</ul>

			</div>
		</div>

		<!--Content-->
		<div>
			<h3>لوحة التحكم</h3>
		</div>



	</div>
</div>

